<template>
  <div class="players">
    <h1>Players</h1>
    <PlayersList />
  </div>
</template>

<script lang="ts">
import PlayersList from '@/components/PlayersList.vue';

export default {
  name: 'Players',
  components: {
    PlayersList,
  },
};
</script>
