<template>
  <div class="tournaments">
    <h1>Tournaments</h1>
    <TournamentsList />
  </div>
</template>

<script lang="ts">
import TournamentsList from '@/components/TournamentsList.vue';

export default {
  name: 'Tournaments',
  components: {
    TournamentsList,
  },
};
</script>
