<template>
  <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="@/assets/avatar-placeholder.jpg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{player.name}}</div>
        <p class="text-gray-700 text-base">
          {{player.city}}
        </p>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Player } from '@/interfaces/Player';

@Component
export default class PlayersListItem extends Vue {
  @Prop() private player!: Player;

  data() {
    return {
      dateDisplayFormat: 'YYYY-MM-DD',
    };
  }
}
</script>
