<template>
    <div class="playersForm">
        <form @submit="postData" metod="post">
            <p>
            <label>Imie:
            <br>
            <input type="text" v-model="player.name" id="name" name="name"
            placeholder="Jaka ksywa wariacie" class="form">
            </label>
            </p>
            <p>
            <label>Miasto:
            <br>
            <input type="text" v-model="player.city" id="city" name="city"
            placeholder="Wisła Kraków" class="form">
            </label>
            </p>
            <p>
            <label>Email:
            <br>
            <input type="text" v-model="posts.email" id="email" name="email"
            placeholder="user@example.com" class="form">
            </label>
            </p>
            <button type="submit" class="button">Bzikaj</button>
        </form>
    </div>
</template>

<script>
import Api from '@/services/Api';

export default {
  name: 'PlayerListForm',
  data() {
    return {
      player: {
        name: null,
        city: null,
        email: null,
      },
    };
  },
  methods: {
    postData(e) {
      Api().post('/api/v1/players', this.posts)
        .then((result) => {
          console.warn(result);
        })
        .catch((error) => {
          console.log('ERROR: ', error.response.data);
        });
      e.preventDefault();
    },
  },
};
</script>
