<template>
<div class="playersList">
  <player-list-form />
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3
  lg:grid-cols-5 xl:grid-cols-7 gap-5" v-if="players.length > 0">
    <PlayersListItem v-for="(player, index) in players" v-bind:id="player.id"
    :player="player" :key="index" />
  </div>
  <h1 v-else>No players available :(</h1>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Player } from '@/interfaces/Player';
import PlayersService from '@/services/PlayersService';
import PlayersListItem from '@/components/PlayersListItem.vue';
import PlayerListForm from '@/components/PlayerListForm.vue';

@Component({
  components: {
    PlayersListItem,
    PlayerListForm,
  },
})
export default class PlayersList extends Vue {
  players: Player[] = [];

  data() {
    return {
      players: [],
    };
  }

  async created() {
    const response = await PlayersService.getPlayers();
    this.players = response.data;
  }
}
</script>
<style lang="scss">
.form {
  width: 60%;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
</style>
