<template>
  <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="../assets/flanki.jpeg" alt="flanki">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{tournament.tournament_name}}</div>
        <p class="text-gray-700 text-base">
          {{tournament.location}}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3
        py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        {{ tournament.tournament_date | dateParse | dateFormat(dateDisplayFormat) }}</span>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Tournament } from '@/interfaces/Tournament';

@Component
export default class TournamentsListItem extends Vue {
  @Prop() private tournament!: Tournament;

  data() {
    return {
      dateDisplayFormat: 'YYYY-MM-DD',
    };
  }
}
</script>
