<template>
<div class="tournamentsForm">
    <form @submit="postTournament" metod="post">
        <p>
        <label>Nazwa turnieju:
        <br>
        <input type="text" v-model="tournament.tournament_name" id="tournament_name"
        name="tournament_name" placeholder="2137. Turniej Flanek" class="form">
        </label>
        </p>
        <p>
        <label>Miejsce:
        <br>
        <input type="text" v-model="tournament.location" id="location"
        name="location" placeholder="Opole" class="form">
        </label>
        </p>
        <button type="submit" class="button">Submit</button>
    </form>
</div>
</template>

<script>
import Api from '@/services/Api';

export default {
  name: 'TournamentsListForm',
  data() {
    return {
      tournament: {
        /* eslint-disable @typescript-eslint/camelcase */
        tournament_name: null,
        location: null,
        tournament_date: new Date(),
        /* eslint-enable */
      },
    };
  },
  methods: {
    postTournament(e) {
      Api().post('/api/v1/tournaments', this.posts)
        .then((result) => {
          console.warn(result);
        })
        .catch((error) => {
          console.log('ERRRR: ', error.response.data);
        });
      e.preventDefault();
    },
  },
};
</script>
