<template>
<div v-show="a">
  <div class='tournamentsList'>
    <tournament-list-form />
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3
    lg:grid-cols-3 xl:grid-cols-3 gap-5" v-if="tournaments.length > 0">
      <TournamentsListItem v-for="tournament in tournaments" v-bind:id="tournament.id"
      :tournament="tournament" :key="tournament.tournamentName"/>
    </div>
    <h1 v-else>No tournaments available :(</h1>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Tournament } from '@/interfaces/Tournament';
import TournamentsService from '@/services/TournamentsService';
import TournamentsListItem from '@/components/TournamentsListItem.vue';
import TournamentListForm from '@/components/TournamentsListForm.vue';

@Component({
  components: {
    TournamentsListItem,
    TournamentListForm,
  },
})
export default class TournamentsList extends Vue {
  tournaments: Tournament[] = [];

  data() {
    return {
      tournaments: [],
      a: true,
    };
  }

  async created() {
    const response = await TournamentsService.getTournaments();
    this.tournaments = response.data;
  }
}
</script>
