<template>
  <div id="app">
  <ResponsiveNavigation
  :nav-links="navLinks"
  :image-path="require('./assets/logo.png')"
  background="#fff"
  link-color="#777"
  hoverBackground="#ddd"
  />
  <router-view/>
  </div>
</template>

<script>
import ResponsiveNavigation from '@/components/ResponsiveNavigation.vue';

export default {
  components: {
    ResponsiveNavigation,
  },
  data: () => {
    return {
      navLinks: [
        {
          text: 'Home',
          path: '/',
          icon: 'ion-ios-megaphone',
        },
        {
          text: 'Tournaments',
          path: '/tournaments',
          icon: 'ion-ios-bonfire',
        },
        {
          text: 'Players',
          path: '/players',
          icon: 'ion-ios-briefcase',
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';

figure {
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 10px;
margin-inline-end: 0;
}
body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-left: 2rem;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
